/GradientDescent/nbproject/private/
/Gradient Descent/nbproject/private/
/What Is N/nbproject/private/
/SumGame/nbproject/private/
/SumGame/build/
/AbsolutelyAcidic/nbproject/private/
/Flipper/nbproject/private/
/Flipper/build/
/AvgPrimes/nbproject/private/
/AvgPrimes/build/
/avgPrimes2/nbproject/private/
/avgPrimes2/build/
/ArithmeticSquare/nbproject/private/
/ArithmeticSquare/build/
/Tourism/nbproject/private/
/Tourism/build/
/Triangles/nbproject/private/
/Triangles/build/